# docker-compose.yml

version: "3.9"

services:
  app:
    build: .
    container_name: tastyai-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: tastyai-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tastyai
      POSTGRES_USER: tastyuser
      POSTGRES_PASSWORD: tastypass
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
